<div class="author">
  <h1 class="author__heading">Hi, I'm Austin</h1>
  <p class="author__body">These are some of my favorite songs at the moment!</p>
</div>

<div class="song-container">
  <% topTracks.items.forEach((track, index)=> { %>
    <div class="song<%= index === 3 ? ' centered-song' : '' %>">
      <a href="<%= track.external_urls.spotify %>" target="_blank">

        <div class="song-image">
          <img class="album_imgs" src="<%= track.album.images[0].url %>" alt="Album Cover">
        </div>
        <div class="song-content">
          <div>
            <strong>
              <%= track.name %>
            </strong>
            by
            <%= track.artists.map(artist=> artist.name).join(', ') %>
          </div>
        </div>
      </a>
    </div>
    <% }) %>
</div>


<!-- Logs Spotifys response to the console in the browser -->
<script>
  const topTracks = <%- JSON.stringify(topTracks) %>;
  console.log('Top Tracks:', topTracks);
</script>